In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

### Dataset to be used:

In [3]:
df = pd.read_parquet("yellow_tripdata_2022-01.parquet")

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [5]:
#skipped needed as datatype is already python
#df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

### SQLAlchemy to generate DDL schema for dataframe which works with postgres:

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

### Use pandas read_sql to connect to postgres database and read from it

In [9]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [10]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' 
AND schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False

### Generate DDL schema for dataframe:

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [12]:
len(df)

2463931

### Create empty table in postgres using a dataframe:

In [11]:
df.head(n=0).to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace')

### Batch data loading:

In [13]:
# Skipping since data is of the paraquet format
# df_iter = pd.read_csv('yellow_tripdata_2022-01.csv', iterator=True, chunksize=100000)

In [14]:
# df = next(df_iter)

In [ ]:
#skipped as datatype is already python

#df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# A loop to do batch loading using df_iter

# while True:
    
#     t_start = time()
    
#     df = next(df_iter)
    
#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

#     t_end = time()
    
#     print('inserted another chunk..., took %.3f second' %(t_end - t_start))

### Load all the rows to the created table -- Insert into table

In [43]:
#%time df.to_sql(name='yellow_taxi_trips', con=engine, if_exists='replace')

CPU times: user 4min 42s, sys: 2min 37s, total: 7min 19s
Wall time: 5h 53min 54s

In [13]:
%time df.head(n=100).to_sql(name='yellow_taxi_trips', con=engine, if_exists='append')

CPU times: user 32.7 ms, sys: 8.59 ms, total: 41.3 ms
Wall time: 1.67 s